@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}
<h2> Message from ViewData: @ViewData["Message"]</h2>
<h2> CurrentTime from ViewData: @ViewData["CurrentTime"]</h2>

<br />
<h2> Message from ViewBag: @ViewBag.Message1</h2>
<h2> CurrentTime from ViewBag: @ViewBag.Year</h2>
<br/>

<h2> Message from TempData: @TempData["YeuCau"]</h2>


